 @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600');
 @import './variables.scss';

body {
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-bg;
  margin: 0;
  padding: 0;
}
